*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* si agregamos padding que el tamaño no cambie */
}

html {
    /* equivale a 10px */
    font-size: 62.5%;
    height: 100%;
}

body{
    background-image: url(./img/escritorio-oficina-calculadora-bloc-notas-pluma-contra-telon-fondo-beige_23-2148080472.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* header */
.flex-container{
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y la lista */
    background-image: linear-gradient(to right, #F0DABB, #E9CCA9);
    height: 10rem;
    align-items: center;
}

#logo {
    margin-left: 10rem;
    height: 12rem;
    width: 12rem;
    transition: 400ms;
    /* box-shadow: 10px 10px 30px 15px  black;  */
}

#logo:hover {
    opacity: 0.5;

}

/* Menú de navegación */
#nav{
    display: flex; /* por defecto es column */
    list-style-type: none;
    margin-right: 10rem;
}

#nav li{
    margin: 2rem;
    /* Font-size: 10px;  hmtl: 62,5% 10px, porque 16px por defecto*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none; /* Quitamos los subrayados*/
    font-size: 3rem; /* 30px */
    color: rgb(91, 47, 0);
    font-style: italic;
    text-shadow: -0.3rem 0.3rem rgb(255, 255, 255);
}

a:hover{
    color: beige;
    text-shadow: -0.3rem 0.3rem grey;
}

main {
   flex: 1; /*Todos los items serán del mismo tamaño */
}

/* ------------------FORMULARIO INDEX-------------------------------- */

@font-face {
    font-family: 'consolas';
    src: url(fonts/consolas/Consolas.ttf);
}

/* Contiene título y formulario */
#inicio{
    display: flex; /* columns por defecto*/
    justify-content: space-between;
}

#titulo{
    height: 30rem;
    width: 70rem;
    font-size: 4rem;
    font-family: 'consolas';
    text-shadow: -0.3rem 0.3rem white;
}

#titulo h1:first-child{
    margin-left: 20rem;

    animation-name: mover1;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
@keyframes mover1{
    from{margin-left: -50rem;}
    to{margin-left: 20rem;}
}

#titulo h1:nth-child(2){
    margin-left: 35rem;
    animation-name: mover2;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}
@keyframes mover2{
    from{margin-left: -50rem;}
    to{margin-left: 35rem;}
}

#titulo h1:last-child{
    margin-left: 50rem;
    animation-name: mover3;
    animation-duration: 1.70s;
    animation-delay: 0.5s;
}
@keyframes mover3{
    from{margin-left: -50rem;}
    to{margin-left: 50rem;}
}

.formulario{
    width: 25%;
    box-shadow: 3px 3px 5px 5px #000000;
    margin-top: 5rem;
    margin-right: 10rem;
    border-radius: 2rem;
    background-color: burlywood;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -0.1rem 0.1rem white;
    /* text-align: center; */
}

.formulario h2{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    padding: 1rem 0 2rem;
}

.label {
    width: 100%;
    text-shadow: 1px 1px black;
    font-size: 2rem;
}

.input {
    display: block;
    padding: 0 25px;
    font-size: 2rem;
    width: 100%;
    height: 3.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

.textarea {
    width: 100%;
    margin: 1rem auto;
    padding: 10px 25px;
    font-size: 2rem;
}

.enviar {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(236, 201, 134);
    /* border: none; */
    border-radius: 10px;
    /* Para cuando posiciona el cursor: */
    /* transition: 1s background; */
    /* Para que cuando posicine el cursor sea una mano: */
    cursor: pointer;
 }

 .enviar:hover {
    background: rgb(238, 166, 79);
    /* para aumentar el tamaño de todos los elementos del botón: */
    transform: scale(1.01);
    /* Para girar el botón: */
    /* transform: rotate(70deg); */
    /* Pero como tienen la misma propiedad y CSS considera la última
    Para poder  realizar dos alteraciones: */
    /* transform: scale(1.2) rotate(70deg); */
 }


 /* ------------------PLANES ----------------------------------------- */

#planes li{
    list-style-type: none;
}

.div-soporte_online {
    margin: 1rem 1rem;
}

#planes h2 {
    font-size: 5rem;
    position: relative;
    margin-left: 15%;
}

.soporte_online {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    max-width: 50rem;
    margin-left: 90rem;
}

.grid-planes{
    /* border: 0.5rem solid rgb(75, 54, 19); */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
}

#monotributistas {
    grid-area: monotributistas;
    cursor: pointer;
    animation: aparecer 30s linear 0s infinite normal;
    opacity: 0%;
}

#empresas {
    grid-area: empresas;
    cursor: pointer;
    animation: aparecer 30s linear 10s infinite normal;
    opacity: 0%;
}

#responsablesinscriptos {
    grid-area: responsablesinscriptos;
    cursor: pointer;
    animation: aparecer 30s linear 20s infinite normal;
    opacity: 0%;
}

@keyframes aparecer {
    0% {opacity: 0%;}
    20% {opacity: 100%;}
    40% {opacity: 0%;}
    60% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 0%;}
}


.titulo_planes {
    font-size: 3rem;
    opacity: 0.3;

}

.subtitulo_planes {
    font-size: 2rem;
    padding: 1rem;
}

.lista_planes > li {
  font-size: 2rem;
  line-height: 150%;
}

/* ----------------------SERVICIOS----------------------------- */

.grid-container_servicios {
    /* width: 50%; */
    /* max-width: 1000px; */
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
    /* justify-content: end; */
    padding: 0 1rem;
    margin: 50px auto;
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(4, 1fr);

	grid-template-areas: "servicio_contable servicio_impositivo servicio_laboral servicio_societario"
				
}

.grid-container_servicios > div {
    background: #E9CCA9;
	padding: 20px;
	border-radius: 10px;
    border: 2px solid #000000;
    
}

.imagen_servicios {
    height: 6rem;
}

.grid-container_servicios h2 {
    padding: 2rem;
}

.lista_servicios li {
    text-decoration: none;
    list-style-type: none;
}

.lista_servicios li:hover {
    text-decoration: underline;
}

.grid-container_servicios .servicio_contable {
    /* color: #fff; */
	grid-area: servicio_contable;
}

.grid-container_servicios .servicio_impositivo {
    /* color: #fff; */
	grid-area: servicio_impositivo;
}

.grid-container_servicios .servicio_laboral {
    /* color: #fff; */
	grid-area: servicio_laboral;
}

.grid-container_servicios .servicio_societario{
    /* color: #fff; */
	grid-area: servicio_societario;
}

/* ----------------------CLIENTES----------------------------- */

.container_clientes {
    /* width: 80%; */
    display: flex;
    margin: 15rem 5rem;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    
}


.titulo_clientes {
    text-align: center;
    font-size: 5rem;
    padding: 3rem;
}

/*--------------------- CONTACTO ---------------------------*/

.titulo_contacto {
    font-size: 5rem;
    text-align: center;
    padding: 3rem 0;
    text-shadow: 0.2rem 0.2rem white;
}

.flex_containter-contacto {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    /* align-content: flex-start; */
    justify-content: flex-end;
    margin: 2rem 10rem;
    gap: 1rem;
}

.div_mensaje {
    /* text-align:end; */
    /* margin-right: 5rem; */
    margin-right: 2rem;
    
}

.div_mensaje input, textarea{
    width: 40rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.div_contacto {
    /* background-color: rgb(214, 145, 214); */
    width: 30rem;
    line-height: 5rem;
}

.div_contacto img {
    vertical-align: middle;
    margin-left: 1rem;
}

.div_contacto li {
    list-style-type: none;
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-size: 2rem;
    display: inline-block;
}

/* .form_contacto {
    text-align:end;
    margin-right: 5rem;
} */

.form_contacto input{
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
}

.form_contacto textarea {
    padding: 1rem;
}


/* --------------------PIE DE PÁGINA ----------------------------------- */

footer{
   /*  background-image: linear-gradient(to right, #F0DABB, #E9CCA9); */
    width: 100%;
}

#redesSociales{
    text-align: center;
    padding: 1rem;
}

.pie_redes {
    font-size: 1.5rem;
}


#copyright{
    vertical-align: bottom;
    text-align: center;
    font-size: 1.4rem; /* 14px */
    margin: 1rem;
}



@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "monotributistas"
						        "empresas"
						 "responsablesinscriptos"

	}
}



